/* .Footer-container {
  position: relative;
}
.Footer-container>hr {
  border: 1px solid var(--lightgray);
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  padding-top: 8rem;
}
.social>img {
  width: 2rem;
}
.logo-f {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
} */

.Footer-container {
  position: relative;
}
.footer-blur-1 {
  width: 26rem;
  height: 12rem;
  right: 15%;
  bottom: 0;
  filter: blur(200px);
  background-color: red;
}
.footer-blur-2 {
  width: 26rem;
  height: 12rem;
  left: 15%;
  bottom: 0;
  filter: blur(200px);
  background-color: rgb(255, 115, 0);
}
.Footer-container>hr {
  border: 1px solid var(--lightgray);
}
.footer {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.social-links {
  display: flex;
  gap: 4rem;
}
.social-links>img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.logo-f>img {
  width: 10rem;
}
